@import "tailwindcss";

/* @layer base {
  ::-webkit-scrollbar {
    display: none;
  } */

  /* For Firefox */
  /* * {
    scrollbar-width: none;
  }
} */

:root {
  --background: #160505;
  --foreground: #ffffff;
  --yellow: #ebd87d;
  --orange: #f09400;
  --red: #f00000;
  --viewport-padding: 1rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-yellow: var(--yellow);
  --color-orange: var(--orange);
  --color-red: var(--red);

  --font-euclid: var(--font-euclid);
  --font-elnath: var(--font-elnath);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  font-family: var(--font-euclid);

  display: grid;
  grid-auto-rows: max-content;
  /* @TODO allign columns according to the design */
  grid-template-columns:
    1fr min(95%, calc(100% - var(--viewport-padding) * 2))
    1fr;
  gap: 0 var(--viewport-padding);

  & > * {
    grid-column: 2;
  }
}

.full-bleed {
  width: 100%;
  grid-column: 1 / -1;
}

@layer components {
  .ball {
    --delay: 0s;
    --size: 0.4;
    --speed: 20s;

    aspect-ratio: 1;
    width: calc(150% * var(--size));

    /* @TODO change colours */
    background: linear-gradient(
      259.53deg,
      var(--orange) 6.53%,
      var(--red) 95.34%
    );
    filter: blur(10vw);

    border-radius: 50%;

    position: absolute;
    top: 0;
    left: 0;

    animation: loop-balls var(--speed) infinite linear;
    animation-delay: var(--delay);
    transform-origin: 50% 50%;

    opacity: 0.3;
  }
}

.countdown {
  &.countdown {
    line-height: 1em;
  }

  @layer daisyui.l1.l2.l3 {
    @apply inline-flex;

    & > * {
      @apply invisible relative inline-block overflow-y-clip;
      transition: width 0.4s ease-out 0.2s;
      height: 1em;
      --value-v: calc(mod(max(0, var(--value)), 1000));
      --value-hundreds: calc(round(to-zero, var(--value-v) / 100, 1));
      --value-tens: calc(round(to-zero, mod(var(--value-v), 100) / 10, 1));
      --value-ones: calc(mod(var(--value-v), 100));
      --show-hundreds: clamp(
        clamp(0, var(--digits, 1) - 2, 1),
        var(--value-hundreds),
        1
      );
      --show-tens: clamp(
        clamp(0, var(--digits, 1) - 1, 1),
        var(--value-tens) + var(--show-hundreds),
        1
      );
      --first-digits: calc(round(to-zero, var(--value-v) / 10, 1));
      width: calc(1ch + var(--show-tens) * 1ch + var(--show-hundreds) * 1ch);
      direction: ltr;

      &:before,
      &:after {
        @apply visible absolute overflow-x-clip;
        --tw-content: "00\A 01\A 02\A 03\A 04\A 05\A 06\A 07\A 08\A 09\A 10\A 11\A 12\A 13\A 14\A 15\A 16\A 17\A 18\A 19\A 20\A 21\A 22\A 23\A 24\A 25\A 26\A 27\A 28\A 29\A 30\A 31\A 32\A 33\A 34\A 35\A 36\A 37\A 38\A 39\A 40\A 41\A 42\A 43\A 44\A 45\A 46\A 47\A 48\A 49\A 50\A 51\A 52\A 53\A 54\A 55\A 56\A 57\A 58\A 59\A 60\A 61\A 62\A 63\A 64\A 65\A 66\A 67\A 68\A 69\A 70\A 71\A 72\A 73\A 74\A 75\A 76\A 77\A 78\A 79\A 80\A 81\A 82\A 83\A 84\A 85\A 86\A 87\A 88\A 89\A 90\A 91\A 92\A 93\A 94\A 95\A 96\A 97\A 98\A 99\A";
        content: var(--tw-content);
        font-variant-numeric: tabular-nums;
        white-space: pre;
        text-align: end;
        direction: rtl;
        transition:
          all 1s cubic-bezier(1, 0, 0, 1),
          width 0.2s ease-out 0.2s,
          opacity 0.2s ease-out 0.2s;
      }

      &:before {
        width: calc(1ch + var(--show-hundreds) * 1ch);
        top: calc(var(--first-digits) * -1em);
        inset-inline-end: 0;
        opacity: var(--show-tens);
      }

      &:after {
        width: 1ch;
        top: calc(var(--value-ones) * -1em);
        inset-inline-start: 0;
      }
    }
  }
}

@keyframes loop-balls {
  0% {
    transform: translate3D(0%, 51%, 0) rotate(0deg);
  }

  5% {
    transform: translate3D(8%, 31%, 0) rotate(18deg);
  }

  10% {
    transform: translate3D(22%, 13%, 0) rotate(36deg);
  }

  15% {
    transform: translate3D(40%, 2%, 0) rotate(54deg);
  }

  20% {
    transform: translate3D(46%, 21%, 0) rotate(72deg);
  }

  25% {
    transform: translate3D(50%, 47%, 0) rotate(90deg);
  }

  30% {
    transform: translate3D(53%, 80%, 0) rotate(108deg);
  }

  35% {
    transform: translate3D(59%, 98%, 0) rotate(125deg);
  }

  40% {
    transform: translate3D(84%, 89%, 0) rotate(144deg);
  }

  45% {
    transform: translate3D(92%, 68%, 0) rotate(162deg);
  }

  50% {
    transform: translate3D(99%, 47%, 0) rotate(180deg);
  }

  55% {
    transform: translate3D(97%, 21%, 0) rotate(198deg);
  }

  60% {
    transform: translate3D(80%, 7%, 0) rotate(216deg);
  }

  65% {
    transform: translate3D(68%, 25%, 0) rotate(234deg);
  }

  70% {
    transform: translate3D(59%, 41%, 0) rotate(251deg);
  }

  75% {
    transform: translate3D(50%, 63%, 0) rotate(270deg);
  }

  80% {
    transform: translate3D(38%, 78%, 0) rotate(288deg);
  }

  85% {
    transform: translate3D(21%, 92%, 0) rotate(306deg);
  }

  90% {
    transform: translate3D(3%, 79%, 0) rotate(324deg);
  }

  100% {
    transform: translate3D(0%, 51%, 0) rotate(360deg);
  }
}
